<!DOCTYPE HTML>
<html ng-app="globeLocation">

<head>
    <title>SuperCom conquered location</title>
    <link rel="stylesheet" href="style/style.css"/>
    <script src="vendor/jquary/jquery-2.1.1.js"></script>
    <script src="vendor/3dGlobe/apiEarth.js"></script>
    <script src="vendor/bower_components/angular/angular.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <link rel="icon" href="http://www.supercom.com/favicon.ico" type="image/x-icon">
    <style>
        html, body{padding: 0; margin: 0;}
        #earth_div{ top: 0; right: 0; bottom: 0; left: 0; position: absolute !important;}
    </style>
    <script>
        var earth;

        angular.module('globeLocation',[])
            .controller('mainCtrl',function($scope,$http,$document){
                var locationIndex = 0;
                $http.get('config.json').success(function (data) {
                    /*INIT GLOBE*/
                    earth = new WE.map('earth_div',data.globe);
                    //GO TO first location WITH ZOOM 5
                    earth.setView(data.locations[locationIndex].point, data.globe.zoom);
                    //ADD CUSTOM MAP LYERES
                    angular.forEach(data.tileSources, function (tile) {
                        WE.tileLayer(tile.baseUrl,tile).addTo(earth);
                    });
                    //ADD MARKERS
                    angular.forEach(data.locations, function (location,index) {
                      var marker =  WE.marker(location.point).addTo(earth);
                          marker.element.dataset.locationIndex = index;
                          angular.element(marker.element).on('click', function () {
                              locationIndex = this.dataset.locationIndex;
                              $scope.location = data.locations[locationIndex];
                              $scope.isPopupOpen = true;
                              $scope.$digest();
                          });
                    });
                    //ATTACK TO SCOPE
                    $scope.locations = data.locations;
                    $scope.isPopupOpen = false;

                    angular.element('.cover-layer').on('click',function () {
                         $scope.isPopupOpen = false;
                         $scope.$digest();
                    });
                    angular.element('.button.prev-location').on('click',function(){
                        locationIndex = (--locationIndex) % data.locations.length;
                        $scope.location = data.locations[locationIndex];
                        earth.panTo($scope.location.point,{duration:0.4});
                        $scope.$digest();
                    });
                    angular.element('.button.next-location').on('click',function(){
                        locationIndex = (++locationIndex) % data.locations.length;
                        $scope.location = data.locations[locationIndex];
                        earth.panTo($scope.location.point,{duration:0.4});
                        $scope.$digest();
                    })

                })

            })
    </script>
</head>
<body ng-controller="mainCtrl">
    <div id="earth_div"></div>
    <div class="container" ng-show="isPopupOpen">
        <div class="cover-layer"></div>
        <div class="button next-location">
            <span class="icon arrow-2-left"></span>
            <span class="icon arrow-2-right"></span>
        </div>
        <div class="button prev-location"></div>
        <div id="popupContainer" >
        <div class="popup">
            <div class="partition left-side">
                <div class="image-container">
                    <img src="assets/images/locations/{{impression.image}}" ng-repeat="impression in location.bigImpression"/>
                </div>
                <div class="image-navigation">
                    <div class="image-controller previous-image">
                        <span class="icon arrow-1-left"></span>
                    </div>
                    <div class="image-controller next-image">
                        <span class="icon arrow-1-right">>></span>
                    </div>
                    <div class="image-description">
                        {{location.bigImpression[0].description}}
                    </div>
                </div>
            </div>
            <div class="partition right-side">
                <div class="panel top">
                    <img class="flag" ng-src="assets/images/flages/{{location.flageImage}}">
                    <span class="placeName">{{ location.placeName }}</span>
                </div>
                <div class="panel details">
                    <h3>{{ location.productName }}</h3>
                    <div class="row">
                            <span class="partition">
                                <span class="icon population"></span>
                                <span class="title">population</span>
                                <span class="description">{{ location.populationText }}</span>
                            </span>
                            <span class="partition">
                                <span class="icon duration"></span>
                                <span class="title">duration</span>
                                <span class="description">{{ location.durationText }}</span>
                            </span>
                            <span class="partition">
                                <span class="icon project"></span>
                                <span class="title">project type</span>
                                <span class="description">{{ location.projectTypeText }}</span>
                            </span>
                    </div>
                </div>
                <div class="panel highlight" ng-repeat="highlight in location.highlights track by $index">
                    <span class="icon star"></span>
                    <span class="text">{{ highlight }}</span>
                </div>
            </div>
        </div>
    </div>

    </div>
    <style>
        .we-pm-icon{
            background-image:url("assets/images/map_pin.png");
            background-position: -6px;
            background-size: cover;
            height: 80px !important;
            width: 80px !important;
            margin-top: -80px !important;
            margin-left: -40px !important;

        }
    </style>
</body>
</html>