@import url(../assets/fonts/Open_Sans/stylesheet.css);
@import url(../assets/fonts/Open_Sans_Light/stylesheet.css);
@import url(../assets/fonts/Open_Sans_Bold/stylesheet.css);
@import url(../assets/fonts/Open_Sans_Semibold/stylesheet.css);

body{
    background:black;
}
*{
    box-sizing: border-box;
}

.button.next-location {
    right: 0;
}

.button {
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    bottom: 0;
}

.button.prev-location {
    left: 0;
}

.cover-layer {
    height: 100%;
    position: absolute;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.73);
}

.panel.highlight {
    background: hsla(0, 0%, 94%, 0.89);
    padding-top: 14px;
    padding-bottom: 14px;
}

.image-container {
    height: 100%;
}

.image-container img {
    width: 100%;
    height: 100%;
}

img.ng-scope {}

.image-description {
    background: rgba(0,0,0,0.5);
    margin: 0px 104px;
    height: 100%;
    line-height: 86px;
}

.next-image {
    float: right;
}

.image-controller {
    height: 100%;
    line-height: 68px;
    background-color: purple;
    /* vertical-align: bottom; */
    width: 104px;
    text-align: center;
    cursor: pointer;
}

.previous-image {
    float: left;
}

.image-navigation {
    position: absolute;
    bottom: 0;
    height: 68px;
    background: rgba(0,0,0,0.5);
    width: 100%;
    color: white;
}
#popupContainer{
    position: absolute;
    width: 1788px;
    /* background: darkred; */
    z-index: 177;
    /* display: flex; */
    overflow: hidden;
    margin: 80px auto;
    height: 778px;
    left: 10px;
    right: 10px;
}
.popup{
    width: 1788px;
    display: flex;
    flex-direction:row;
    height: 778px;
    background-color: rgba(255,255,255,0.7);
    flex-basis: 100%;
    float: left;
}
.row{
    display: flex;
    margin-top: 22px;
}
.partition{
    flex-shrink:1
;
    flex-basis: 50%;
    position: relative;
    /* background: rgba(255,255,255,0.6); */
    /* opacity: 0.8; */
}

.partition .right-side{
    display: flex;
    flex-direction: column;
}

.partition.left-side {
    width: 866px;
}

span.flag {
    width: 200px;
    height: 134px;
    background: blue;
    display: inline-block;
    border-radius: 20px;
}

.panel.top {
    /* padding: 20px; */
    height: 175px;
    display: flex;
    align-items: center;
}

span.placeName {
    font-family: "open sans light";
    /* size: 366px; */
    color: #474747;
    font-size: 46px;
    margin-left: 0.7em;
}

.partition.right-side {
    margin-left: 5px;
    /* width: 902px; */
    /* opacity: 0.8; */
}

.panel {
    background-color: rgba(255, 255, 255, 0.90);
    margin: 2px 0;
    padding: 20px;
}

.panel:first-child {
    margin-top: 0;
}

h3 {
    margin: 0;
    font-family: "Open Sans Bold";
    font-size: 39px;
    color: #474747;
}

.details {
    /* height: 175px; */
}

.icon {
    background-image: url("../assets/images/images_sprite.png");
    display: inline-block;
    vertical-align: bottom;
}

.icon.population {
    width: 70px;
    height: 55px;
    background-position: 0 -74px;
}
.icon.duration{
    width: 70px;
    height: 54px;
    background-position: 0 -74px;
}
.icon.project{
    width: 70px;
    height: 54px;
    background-position: 0 -74px;
}

.details .icon {
    float: left;
    margin-right: 12px;
    background: rgb(108, 108, 90);
}

.details .title {
    font-family: "Open Sans Semibold";
    display: block;
    font-size: 17px;
    text-transform: uppercase;
    color: #7C7C7C;
}

.details .description {
    font-size: 30px;
    font-family: Open Sans;
    color: #575757;
}
.panel .text {
    font-family: Open Sans;
    font-size: 26px;
    font-style: italic;
    color: #575757;
    margin-left: 10px;
}

.icon.star {
    width: 30px;
    background: aquamarine;
    height: 30px;
}